@using sxva_saqartvelo_back_end.Models;
@using sxva_saqartvelo_back_end.Helpers;

@{
    var freelancer = LoginHelper.freelancer();
    var company = LoginHelperForCompany.company();
}


@if (freelancer != null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (company != null)
{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<link href="~/css/pagesNcomponents/homepage.css" rel="stylesheet" />
<link href="~/css/profile/style.css" rel="stylesheet" />
<link href="~/css/mystyle.css" rel="stylesheet" />
<section id="hero-section">
    <h1 class="nino-mtavruli color-while">ჩვენ შესახებ</h1>
</section>
<section class="container-fluid">
    <div class="row col-9 cont about">
        <p class="about1">
            “საქართველოს ინოვაციებისა და ტექნოლოგიების სააგენტომ" და ახალი ტექნოლოგიების ლაბორატორია "ჯეოლაბმა" ჭოპორტში, ბაღდათში, ხარაგაულსა და ზუგდიდში დისტანცური სწავლების პროექტი განახორციელა. პროექტის ფარგლებში, რეგიონებში მცხოვრებ ახალგაზრდებს საშუალება ჰქონდათ, დაუფლებოდნენ თანამედროვე ტექნოლოგიებს. მათ გაიარეს პროგრამირების დისტანციური კურსი.
        </p>
        <p class="about2">
            სწავლის პერიოდში მათ საკმაო გამოცდილება დააგროვეს და უკვე რამდენიმე პროექტიც განახორციელეს.
        </p>
        <p class="about3">
            ეს პლატფორმა, რომელიც პროექტის ფარგლებში შეიქმნა, დაეხმარება მათ დისტანციურ დასაქმებაში. შესაბამისად, ერთი მხრივ, დეველოპერებს, მეორე მხრივ კი დამკვეთებს საშუალებას მისცემს, იპოვონ ერთმანეთი.
        </p>
    </div>
</section>