<link href="~/css/pagesNcomponents/homepage.css" rel="stylesheet" />
<link href="~/css/profile/style.css" rel="stylesheet" />
<link href="~/css/mystyle.css" rel="stylesheet" />
<section id="hero-section">
    <h1 class="nino-mtavruli color-while">კონტაქტი</h1>
</section>

<section class="container-fluid">
    <div class="row col-9 cont">
        <form class="cont1 container">
            <div class="cont2 col-12 col-sm-6 form-group">
                <input type="email" class="form-control" placeholder="შეიყვანე ელ.ფოსტა">
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <input type="email" class="form-control" placeholder="სათაური">
            </div>
            <div class="cont4 container form-group">
                <textarea class="form-control" placeholder="მოგვწერეთ"></textarea>
            </div>
            <div class="send container">
                <button class="submit">გაგზავნა</button>
            </div>
        </form>

    </div>
</section>