<section id="hero-section">
    <button class="hvr-back-pulse hvr-icon-forward btn-font hero-btn" onclick="window.location='developers.html';"> ყველა დეველოპერი</button>
</section>

<section class="candidats-listing container-fluid">

    <div class="row">

        <div class="candidat col-xl-3 col-md-4 col-sm-6 text-center">
            <div>
                <div class="hover">
                    <a href="profile-ანა-კეკუა.html" class="image-a" style="background-image: url('../../img/pp/ana-kekua.jpg'); ">
                        <img class="img-thumbnail img-candidat hvr-yellow-back" src="~/img/pp/ana-kekua.jpg" alt="profile picture" />
                    </a>
                </div>
                <div class="candidat-text-content">
                    <a href="profile-ანა-კეკუა.html">
                        <h3 class="candidat-name-fn">ანა კეკუა</h3>
                        <ul class="candidat-skils-fn">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">Bootstrap</a></li>
                        </ul>
                        <ul class="candidat-statistics-fn candidat-statistics">
                            <li>განხორციელებული პროექტები: <a href="#">3</a></li><li>რეიტინგი: 10 / 10</li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>

        <div class="candidat col-xl-3 col-md-4 col-sm-6 text-center"></div>

        <div class="candidat col-xl-3 col-md-4 col-sm-6 text-center"></div>

        <div class="candidat col-xl-3 col-md-4 col-sm-6 text-center"></div>



        <div class="candidat col-xl-3 col-md-4 col-sm-6 text-center"></div>

        <div class="candidat col-xl-3 col-md-4 col-sm-6 text-center"></div>

        <div class="candidat col-xl-3 col-md-4 col-sm-6 text-center"></div>

        <div class="candidat col-xl-3 col-md-4 col-sm-6 text-center"></div>

    </div>


    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span> წინა</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">47</a></li>
            <li class="page-item"><a class="page-link" href="#">48</a></li>
            <li class="page-item"><a class="page-link" href="#">შემდეგი <span>&raquo;</span></a></li>
        </ul>
    </nav>
</section>