<section id="hero-section">
    <h1 class="nino-mtavruli color-while">ავტორიზაცია</h1>
</section>

<section class="container-fluid">
    <div class="row col-9 cont">
        <form class="cont1 container">
            <div class="cont2 col-12 col-sm-6 form-group">
                <input type="email" class="form-control" placeholder="შეიყვანე ელ.ფოსტა">
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <input type="email" class="form-control" placeholder="შეიყვანე პაროლი">
            </div>
            <div class="send container">
                <button class="submit">შესვლა</button>
            </div>
        </form>

    </div>
</section>