<section id="hero-section">
    <h1 class="nino-mtavruli color-while">რეგისტრაცია</h1>
</section>

<section class="container-fluid">
    <div class="row col-9 cont">
        <form class="cont1 container">
            <div class="cont2 col-12 col-sm-6 form-group">
                <input type="email" class="form-control" placeholder="ორგამიზაციის სახელი">
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <input type="email" class="form-control" placeholder="ელ.ფოსტა">
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <input type="email" class="form-control" placeholder="პაროლი">
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <input type="email" class="form-control" placeholder="გაიმეორეთ პაროლი">
            </div>
            <div class="send container">
                <button class="submit">რეგისტრაცია</button>
            </div>
        </form>

    </div>
</section>
