.showHideOldPd{
    position: absolute;
    top: 11px;
    right: 24px;
    width: 20px;
    height: 24px;
    cursor: pointer;
}
.showHidePd{
    position: absolute;
    top: 11px;
    right: 24px;
    width: 20px;
    height: 24px;
    cursor: pointer;
}

.showHideRePd{
    position: absolute;
    top: 11px;
    right: 24px;
    width: 20px;
    height: 24px;
    cursor: pointer;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}


.confirmDelete{
    background-color: #e80c4d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 165px;
}

.dismissBtn{
    background-color: #555;
    border: none;
    color: white;
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 69px;
    cursor: pointer;
    width: 165px;
}


.searchInput{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.projectStatus{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 23.666667%;
    padding-left: 15px;
}

.taskDueDate{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 23.666667%;
    padding-left: 15px;
}

.issueStatus{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 23.666667%;
    padding-left: 15px;
}

.freelancerEvaluation{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 17.666667%;
    padding-left: 15px;
}


.confirmTask{
    background-color: #28a745;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 165px;
}

.cancelTask{
      background-color: #555;
      border: none;
      color: white;
      padding: 15px 33px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 83px;
      cursor: pointer;
      width: 165px;
}