.showHidePd{
    position: absolute;
    bottom: 9px;
    right: 24px;
    width: 20px;
    height: 24px;
    cursor: pointer;
}

.showHideRePd{
    position: absolute;
    bottom: 9px;
    right: 24px;
    width: 20px;
    height: 24px;
    cursor: pointer;
}