@model IEnumerable<sxva_saqartvelo_back_end.Models.Issue>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="padding-top:150px" class="issuesTable">
    <table class="table">
        <tr>
            <th>
                დასრულება
            </th>
            <th>
                პროექტი
            </th>
            <th>
                ამოცანის სახელი
            </th>
            <th>
                ამოცანის აღწერა
            </th>
            <th>
                თარიღი შესასრულებლად
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    @item.Project.Name
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.Raw(item.Body)
                </td>
                <td>
                    @item.DueDate.ToShortDateString()
                </td>
            </tr>
        }

    </table>
</div>





<script>
    $(document).ready(function ()
    {
        $('#footer').hide();
    });
</script>