<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/css/main/reset.css" rel="stylesheet" />
    <link href="~/css/main/colorsNfonts.css" rel="stylesheet" />
    <link href="~/css/main/layout.css" rel="stylesheet" />
    <link href="~/css/main/master.css" rel="stylesheet" />
    <link href="~/css/main/components.css" rel="stylesheet" />
    <link href="~/css/pagesNcomponents/homepage.css" rel="stylesheet" />
    <link href="~/css/profile/style.css" rel="stylesheet" />
    <link rel=icon href=img/favicon.png>
    <link href="~/fonts/bpg-nino-mtavruli-bold-master/css/bpg-nino-mtavruli-bold.min.css" rel="stylesheet" />
    <link href="~/css/mystyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <header class="main-blue">
         <div class="main-container">
          <div id="logo"></div>
          <nav id="header-nav">
              <button class="hvr-back-pulse btn-font">ავტორიზაცია</button>
              <button class="btn-font button-active hvr-back-pulse">რეგისტრაცია</button>
              <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href="#">ხშირად დასმული კითხვები</a>
                    <a href="#">როგორ მუშაობს?</a>
                    <a href="#">ჩვენ შესახებ</a>
                    <a href="#">კონტაქტი</a>
                    <div class="contact-info-in-nav">
                      <p>+995 557 55 22 11</p>
                      <p>info@geolab.edu.ge</p>
                    </div>
                    <div class="social-icons-in-nav">
                      <img src="~/img/soc-icons/gPlus.svg" alt="google plus" class="soc_for_burger">
                      <img src="~/img/soc-icons/fb.svg" alt="facebook" class="soc_for_burger">
                      <img src="~/img/soc-icons/you.svg" alt="youtube" class="soc_for_burger">
                    </div>
              </div>
            </div>
            <img src="img/burger.svg" alt="navigation" id="burger-icon" onclick="openNav()">
          </nav>
        </div> 
    </header>

    @RenderBody()

    <footer class="main-blue">
        <section id="partners">
            <a href="http://geolab.edu.ge/" target="_blank"><img src="~/img/logos/geolab.png" alt="parner"></a>
            <a href="https://www.leavingstone.com/" target="_blank"><img src="~/img/logos/leavingstone.png" alt="parner"></a>
            <a href="http://www.techpark.ge/" target="_blank"><img src="~/img/logos/gita.png" alt="parner"></a>
            <a href="https://geocell.ge/" target="_blank"><img src="~/img/logos/geocell.jpg" alt="parner"></a>
        </section>
        <span id="footer-line"></span>
        <section id="copyright">
            <p class="btn-font">ყველა უფლება დაცულია © 2017</p>
        </section>
    </footer>

    <!-- Css -->
    <link href="~/css/main/interaction.css" rel="stylesheet" />
    <link href="~/css/pagesNcomponents/candidatInList.css" rel="stylesheet" />

    <!-- JS -->
    <script src="~/Scripts/popper.js"></script>

    <!-- add elements in html -->
    <script src="~/Scripts/JS/printHeader.js"></script>
    <script src="~/Scripts/JS/printCandidats.js"></script>

    <!-- interaction -->
    <script src="~/Scripts/JS/interaction.js"></script>
    <script src="~/Scripts/JS/burger.js"></script>
</body>
</html>